{% extends 'base.html' %}
{% load static %}
{% block isinya %}
</section>
<section class="tampilan">
<div class="row">
<div class="leftcolumn">

<div class="card">

<h2>KOTA SUMENEP</h2>
<h5>Sumenep, Jan 20, 2022</h5> <div class="fakeimg" style="height: 200px;"><img class="p4" src="{% static 'img/kota.jpg'%}"></div>

<p>Alun-alun Kota Sumenep</p>

<p>Sumenep (bahasa Madura: Songennep) adalah sebuah kabupaten di provinsi Jawa Timur, Indonesia. Kabupaten ini memiliki luas wilayah 2.093,45 km² dan populasi 1.041.915 jiwa. Ibu kotanya ialah Kota Sumenep.
    Kabupaten ini tercatat sebagai kabupaten penghasil minyak dan gas bumi di Madura. Saat ini tercatat, setidaknya ada 8 perusahaan minyak yang melakukan eksploitasi dan 2 perusahaan yang masih melakukan eksplorasi. Daerah ini juga termasuk kedalam 50 daerah terkaya di Indonesia menurut majalah Warta Ekonomi tahun 2012 dengan urutan ke-31 dengan indeks total 36.
    

</p>
</div>
<div class="card">

<h2>KERATON SUMENEP</h2>

<h5>Sumenep, Jan 20, 2022</h5><div class="fakeimg" style="height: 200px;"><img class="p4" src="{% static 'img/Keraton.jpg'%}"></div>

<p>Keraton Sumenep, Destinasi Wisata Sejarah di Madura</p>

<p>Keraton Sumenep adalah tempat kediaman resmi para Adipati/Raja-Raja selain sebagai tempat untuk menjalankan roda pemerintahan. Kerajaan Sumenep sendiri bisa dibilang sifatnya sebagai kerajaan kecil (setingkat Kadipaten) kala itu, sebab sebelum wilayah Sumenep dikuasai VOC wilayah Sumenep sendiri masih harus membayar upeti kepada kerajaan-kerajaan besar (Singhasari, Majapahit, dan Kasultanan Mataram).
    Keraton Sumenep sejatinya banyak jumlahnya, selain sebagai kediaman resmi adipati/raja yang berkuasa saat itu, karaton juga difungsikan sebagai tempat untuk mengatur segala urusan pemerintahan kerajaan. Saat ini Bangunan Karaton yang masih tersisa dan utuh adalah bangunan Karaton yang dibangun oleh Gusti Raden Ayu Tirtonegoro R. Rasmana dan Kanjeng Tumenggung Ario Tirtonegoro (Bindara Saod) beserta keturunannya yakni Panembahan Somala Asirudin Pakunataningrat dan Sri Sultan Abdurrahman Pakunataningrat I (Raden Ario Notonegoro). Sedangkan untuk bangunan karaton-karaton milik Adipati/Raja yang lainnya, seperti Karaton Pangeran Siding Puri di Parsanga, Karaton Tumenggung Kanduruan, Karaton Pangeran Lor dan Pangeran Wetan di Karangduak hanya tinggal sisa puing bangunannya saja yakni hanya berupa pintu gerbang dan umpak pondasi bangunan Keraton.
    Istilah penyebutan Karaton apabila dikaitkan dengan sistem pemerintahan di Jawa saat itu, merasa kurang tepat karena karaton Sumenep memeliki strata tingkatan yang lebih kecil dari bangunan keraton yang ada di Jogjakarta dan Surakarta. Karaton Sumenep sebenarnya adalah bangunan kediaman keadipatian yang pola penataan bangunannya lebih sederhana daripada keraton-keraton besar seperti Jogjakarta dan Surakarta. Namun perlu dimaklumi bahwa penggunaan penyebutan istilah karaton sudah berlangsung sejak dulu kala oleh masyarakat Madura, karena kondisi geografis Sumenep yang berada di daerah mancanegara (wilayah pesisir wetan) yang jauh dari Kerajaan Mataram. Begitu juga penyebutan Penguasa Kadipaten yang lebih familiar dikalangan masyarakatnya dengan sebutan "Rato/Raja".
    

</p>
</div>
</div>

<div class="rightcolumn">
<div class="card">

<h2>About Me </h2>

<div><img class="p1" src="{% static 'img/aaa.jpeg' %}" alt=""></div>

<p class="ket"> ACH HIDAYATUR RAMADHANI</p>

</p>

</div>
<div class="card">

    <h3>Popular Post</h3>

    <div class="fakeimg">
        <img class="p3" src="{% static 'img/Gili.jpg'%}" alt="">
        <p class="ket">Gili Labak adalah sebuah pulau kecil yang terletak di sebelah tenggara Pulau Puteran atau Pulau Madura. Secara administratif, pulau ini terletak di Desa Kombang, Kecamatan Talango, Kabupaten Sumenep, Jawa Timur. Ibu kota kecamatan Talango berada di Pulau Puteran. Pulaunya membentang sepanjang 5 hektar dan dapat dikelilingi kurang dari sejam. Sebelumnya pulau ini dikenal dengan nama Pulau Tikus oleh masyarakat sekitar </p>
    </div>
    <div class="fakeimg">
        <img class="p3" src="{% static 'img/pantai-sembilan.jpg' %}" alt="">
        <p class="ket">Pantai Sembilan terletak di Pulau Gili Genting, Kecamatan Gili Genting, Kabupaten Sumenep. Pantai bagus, pasir putih bersih, air jenih. Pengunjung merasakan ketenangan kalau berkunjung ke sana. Pantai itu resmi dibuka awal 2017. Bibir pantai yang berbentuk angka sembilan jadi asal penamaan tempat wisata yang dikelola BumDes ini. Namun, abrasi jadi ancaman bagi Pulau Gili Genting. Di sisi lain pulau, pasir terkikis hingga berpindah ke bagian Pantai Sembilan.</p>
    </div>
    <div class="fakeimg">
        <img class="p3" src="{% static 'img/Gili-iyang.jpg' %}" alt="">
        <p class="ket">Gili Iyang, Pulau Berkadar Oksigen Tertinggi Kedua di Dunia. Beberapa daerah bahkan memiliki ciri khas tersendiri. Sebut saja Pulau Gili Iyang di Sumenep, Jawa Timur. Namanya mungkin belum terlalu familiar di kalangan wisatawan domestik maupun mancanegara. Namun, daya tarik yang ditawarkan oleh Gili Iyang tidak kalah dengan destinasi-destinasi wisata wellness lainnya.</p>
    </div>

</div>
</div>
</div>
</section>
{% endblock %}